@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Light.woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant SC";
  src: url("/fonts/cormorantsc/Cormorantscbook.woff2");
  font-weight: 500;
  font-style: normal;
}
